.main-content {
  margin-left: 240px;
  padding: 1rem;
  padding-top: 100px;
  transition: margin-left 0.3s ease;
  min-height: 100vh;
  box-sizing: border-box;

  &.contraido {
    margin-left: 80px;
  }

  @media (max-width: 768px) {
    margin-left: 80px;

    &.contraido {
      margin-left: 80px;
    }

    &:not(.contraido) {
      margin-left: 240px;
    }
  }
}
