<nav class="sidebar" [class.contraido]="contraido">
  <div class="sidebar-header">
    <img class="profile" src="icons/foto-cliente.jpg" alt="Foto de perfil" />
    <div class="username">Carlos Caycho Casas</div>
  </div>

  <ul>
    <li>
      <a routerLink="/inicio" routerLinkActive="active">
        <img class="icon" src="icons/inicio.png" alt="Inicio" />
        <span class="label">Panel</span>
      </a>
    </li>
    <li>
      <a routerLink="/ventas" routerLinkActive="active">
        <img class="icon" src="icons/ventas.png" alt="Ventas" />
        <span class="label">Ventas</span>
      </a>
    </li>
    <li>
      <a routerLink="/pedidos" routerLinkActive="active">
        <img class="icon" src="icons/pedidos.png" alt="Pedidos" />
        <span class="label">Pedidos</span>
      </a>
    </li>
    <li>
      <a routerLink="/usuarios" routerLinkActive="active">
        <img class="icon" src="icons/clientes.png" alt="Usuarios" />
        <span class="label">Usuarios</span>
      </a>
    </li>
    <li>
      <a routerLink="/mesas" routerLinkActive="active">
        <img class="icon" src="icons/mesas.png" alt="Mesas" />
        <span class="label">Mesas</span>
      </a>
    </li>
    <li>
      <a routerLink="/platos" routerLinkActive="active">
        <img class="icon" src="icons/platos.png" alt="Platos" />
        <span class="label">Platos</span>
      </a>
    </li>
    <li>
      <a routerLink="/menu-diario" routerLinkActive="active">
        <img class="icon" src="icons/menudiario.png" alt="Menú Diario" />
        <span class="label">Menú diario</span>
      </a>
    </li>
  </ul>
</nav>
